html[data-theme="theme2"] {
  /* --color-hBg: #f6dbe7; */
  /*-- Загальні */
  --color-bodyBg: #f1f7ed;
  --color-bodyText: #060214;
  /*-- headTape  */
  --color-hTapeBg: #6b8e23;
  --color-hTapeText: #fff;
  /*-- head */
  --color-hBg: #e3fad6;
  --color-hBgHov: #c9dfa7;
  --color-hText: #6b8e23;
  --color-hTextHov: #354d05;
  --color-hTextImg: #b6f943;
  --color-hTextImg1: #8fdf04;
  --color-hBorder: #dcdcdc;
  /*-- drawer */
  --color-drawDropMenuBg: #e7f4e0;
  --color-drawDropHr: #6b8e23;
}
