html {
  /* //-- Загальні */
  --color-hTapeBg: #f74d97;
  --color-hTapeText: #fff;

  /* //-- headTape ---- */
  --color-hTapeBg: #f82782;
  --color-hTapeText: #fff;

  /* //-- head -------------------------------------------- */
  --color-hBg: #f6dbe7;
  --color-hBgHov: #f9c3da;
  --color-hText: #f82782;
  --color-hTextHov: #fa1f7e;
  --color-hTextImg: #f686b7;
  --color-hTextImg1: #f82782;
  --color-hBorder: #f9c3da;

  /*  //-- drawer --- */
  --color-drawDropMenuBg: #f8d2e4;
  --color-drawDropHr: #f9c3da;
}
